@import "~@mm-ui/components/resources/scss/metro/01_settings/_breakpoints";

.home-dashboard {
  &__welcome {
    display: block;
    position: relative;
    top: 3rem;
    width: 40rem;
    padding-bottom: 1rem;
    margin: 0 auto;
  }
  &__illustration {
    display: block;
    position: relative;
    top: 3rem;
    background-image: url(/img/dashboard_empty.svg);
    background-repeat: no-repeat;
    width: 40rem;
    height: 27rem;
    padding-top: 1rem;
  }
  &__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 3rem;
  }
  &__titleGreeting {
    display: block;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
  }
  &__titleFullname {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 13rem;
  }
}

mm-page-content {
  @media (min-width: map-get($breakpoints, "xlarge")) {
    margin-left: 15.25rem;
  }
}
